
div {
  padding: 50px;
  text-align: center;
  font-size: xxx-large;
  animation: fade-in-text 2s ease;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

input {
  width: 150px;
  height: 150px;
  background:transparent!important;
  border: none;
  outline:none;
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
